:root {
    --gradc1: #000;
    --gradc2: #013;
}

body {
    background: linear-gradient(90deg,
    var(--gradc1) 0%,
    var(--gradc2) 40%,
    var(--gradc1) 80%,
    var(--gradc2) 120%);
    text-align: center;
    color: #fff;
    text-shadow: #000 0px 0px 10px;
}