:root {
    --gradc1: #acf;
    --gradc2: #fff;
}

body {
    background: linear-gradient(90deg,
    var(--gradc1) 0%,
    var(--gradc2) 40%,
    var(--gradc1) 80%,
    var(--gradc2) 120%);
    text-align: center;
}